body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  font-family: "Noto Sans JP", sans-serif;
  background: #fafafa;
}

@media screen and (max-width: 899px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .hidden-pc {
    display: none;
  }
}

.inline-block {
  font-weight: inherit;
  display: inline-block;
}

.inner {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1440px;
}
@media screen and (min-width: 900px) {
  .inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fv__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: 0;
}
.fv__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fv__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title-sub {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  visibility: hidden;
}
.title-sub.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.title {
  position: absolute;
  top: 80px;
  left: 40px;
  margin-top: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  visibility: hidden;
}
.title.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.description {
  position: absolute;
  bottom: 40px;
  right: 40px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  visibility: hidden;
  text-align: right;
}
.description.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.wine-glass {
  position: relative;
  width: 60px;
  height: 75px;
  margin: 0 auto;
}
.wine-glass::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-clip-path: polygon(25% 20%, 75% 20%, 95% 35%, 90% 45%, 85% 100%, 15% 100%, 10% 45%, 5% 35%);
          clip-path: polygon(25% 20%, 75% 20%, 95% 35%, 90% 45%, 85% 100%, 15% 100%, 10% 45%, 5% 35%);
  border-radius: 0 0 48% 48%;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
.wine-glass::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18px;
  height: 20px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-clip-path: polygon(45% 0, 55% 0, 90% 20%, 65% 40%, 55% 100%, 45% 100%, 35% 40%, 10% 20%);
          clip-path: polygon(45% 0, 55% 0, 90% 20%, 65% 40%, 55% 100%, 45% 100%, 35% 40%, 10% 20%);
}
.wine-glass .wine {
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85%;
  height: 0;
  background: rgba(114, 47, 55, 0.8);
  border-radius: 0 0 48% 48%;
  -webkit-animation: fillWine 2.5s ease-in-out forwards;
          animation: fillWine 2.5s ease-in-out forwards;
  -webkit-box-shadow: 0 0 15px rgba(114, 47, 55, 0.5);
          box-shadow: 0 0 15px rgba(114, 47, 55, 0.5);
}
.wine-glass .percentage {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: percentage 2.5s linear forwards;
          animation: percentage 2.5s linear forwards;
  white-space: nowrap;
}

@-webkit-keyframes fillWine {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}

@keyframes fillWine {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
@-webkit-keyframes percentage {
  0% {
    content: "0%";
  }
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  6% {
    content: "6%";
  }
  7% {
    content: "7%";
  }
  8% {
    content: "8%";
  }
  9% {
    content: "9%";
  }
  10% {
    content: "10%";
  }
  11% {
    content: "11%";
  }
  12% {
    content: "12%";
  }
  13% {
    content: "13%";
  }
  14% {
    content: "14%";
  }
  15% {
    content: "15%";
  }
  16% {
    content: "16%";
  }
  17% {
    content: "17%";
  }
  18% {
    content: "18%";
  }
  19% {
    content: "19%";
  }
  20% {
    content: "20%";
  }
  21% {
    content: "21%";
  }
  22% {
    content: "22%";
  }
  23% {
    content: "23%";
  }
  24% {
    content: "24%";
  }
  25% {
    content: "25%";
  }
  26% {
    content: "26%";
  }
  27% {
    content: "27%";
  }
  28% {
    content: "28%";
  }
  29% {
    content: "29%";
  }
  30% {
    content: "30%";
  }
  31% {
    content: "31%";
  }
  32% {
    content: "32%";
  }
  33% {
    content: "33%";
  }
  34% {
    content: "34%";
  }
  35% {
    content: "35%";
  }
  36% {
    content: "36%";
  }
  37% {
    content: "37%";
  }
  38% {
    content: "38%";
  }
  39% {
    content: "39%";
  }
  40% {
    content: "40%";
  }
  41% {
    content: "41%";
  }
  42% {
    content: "42%";
  }
  43% {
    content: "43%";
  }
  44% {
    content: "44%";
  }
  45% {
    content: "45%";
  }
  46% {
    content: "46%";
  }
  47% {
    content: "47%";
  }
  48% {
    content: "48%";
  }
  49% {
    content: "49%";
  }
  50% {
    content: "50%";
  }
  51% {
    content: "51%";
  }
  52% {
    content: "52%";
  }
  53% {
    content: "53%";
  }
  54% {
    content: "54%";
  }
  55% {
    content: "55%";
  }
  56% {
    content: "56%";
  }
  57% {
    content: "57%";
  }
  58% {
    content: "58%";
  }
  59% {
    content: "59%";
  }
  60% {
    content: "60%";
  }
  61% {
    content: "61%";
  }
  62% {
    content: "62%";
  }
  63% {
    content: "63%";
  }
  64% {
    content: "64%";
  }
  65% {
    content: "65%";
  }
  66% {
    content: "66%";
  }
  67% {
    content: "67%";
  }
  68% {
    content: "68%";
  }
  69% {
    content: "69%";
  }
  70% {
    content: "70%";
  }
  71% {
    content: "71%";
  }
  72% {
    content: "72%";
  }
  73% {
    content: "73%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  76% {
    content: "76%";
  }
  77% {
    content: "77%";
  }
  78% {
    content: "78%";
  }
  79% {
    content: "79%";
  }
  80% {
    content: "80%";
  }
  81% {
    content: "81%";
  }
  82% {
    content: "82%";
  }
  83% {
    content: "83%";
  }
  84% {
    content: "84%";
  }
  85% {
    content: "85%";
  }
  86% {
    content: "86%";
  }
  87% {
    content: "87%";
  }
  88% {
    content: "88%";
  }
  89% {
    content: "89%";
  }
  90% {
    content: "90%";
  }
  91% {
    content: "91%";
  }
  92% {
    content: "92%";
  }
  93% {
    content: "93%";
  }
  94% {
    content: "94%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}
@keyframes percentage {
  0% {
    content: "0%";
  }
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  6% {
    content: "6%";
  }
  7% {
    content: "7%";
  }
  8% {
    content: "8%";
  }
  9% {
    content: "9%";
  }
  10% {
    content: "10%";
  }
  11% {
    content: "11%";
  }
  12% {
    content: "12%";
  }
  13% {
    content: "13%";
  }
  14% {
    content: "14%";
  }
  15% {
    content: "15%";
  }
  16% {
    content: "16%";
  }
  17% {
    content: "17%";
  }
  18% {
    content: "18%";
  }
  19% {
    content: "19%";
  }
  20% {
    content: "20%";
  }
  21% {
    content: "21%";
  }
  22% {
    content: "22%";
  }
  23% {
    content: "23%";
  }
  24% {
    content: "24%";
  }
  25% {
    content: "25%";
  }
  26% {
    content: "26%";
  }
  27% {
    content: "27%";
  }
  28% {
    content: "28%";
  }
  29% {
    content: "29%";
  }
  30% {
    content: "30%";
  }
  31% {
    content: "31%";
  }
  32% {
    content: "32%";
  }
  33% {
    content: "33%";
  }
  34% {
    content: "34%";
  }
  35% {
    content: "35%";
  }
  36% {
    content: "36%";
  }
  37% {
    content: "37%";
  }
  38% {
    content: "38%";
  }
  39% {
    content: "39%";
  }
  40% {
    content: "40%";
  }
  41% {
    content: "41%";
  }
  42% {
    content: "42%";
  }
  43% {
    content: "43%";
  }
  44% {
    content: "44%";
  }
  45% {
    content: "45%";
  }
  46% {
    content: "46%";
  }
  47% {
    content: "47%";
  }
  48% {
    content: "48%";
  }
  49% {
    content: "49%";
  }
  50% {
    content: "50%";
  }
  51% {
    content: "51%";
  }
  52% {
    content: "52%";
  }
  53% {
    content: "53%";
  }
  54% {
    content: "54%";
  }
  55% {
    content: "55%";
  }
  56% {
    content: "56%";
  }
  57% {
    content: "57%";
  }
  58% {
    content: "58%";
  }
  59% {
    content: "59%";
  }
  60% {
    content: "60%";
  }
  61% {
    content: "61%";
  }
  62% {
    content: "62%";
  }
  63% {
    content: "63%";
  }
  64% {
    content: "64%";
  }
  65% {
    content: "65%";
  }
  66% {
    content: "66%";
  }
  67% {
    content: "67%";
  }
  68% {
    content: "68%";
  }
  69% {
    content: "69%";
  }
  70% {
    content: "70%";
  }
  71% {
    content: "71%";
  }
  72% {
    content: "72%";
  }
  73% {
    content: "73%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  76% {
    content: "76%";
  }
  77% {
    content: "77%";
  }
  78% {
    content: "78%";
  }
  79% {
    content: "79%";
  }
  80% {
    content: "80%";
  }
  81% {
    content: "81%";
  }
  82% {
    content: "82%";
  }
  83% {
    content: "83%";
  }
  84% {
    content: "84%";
  }
  85% {
    content: "85%";
  }
  86% {
    content: "86%";
  }
  87% {
    content: "87%";
  }
  88% {
    content: "88%";
  }
  89% {
    content: "89%";
  }
  90% {
    content: "90%";
  }
  91% {
    content: "91%";
  }
  92% {
    content: "92%";
  }
  93% {
    content: "93%";
  }
  94% {
    content: "94%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 9999;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}
.loading__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.loading__bar {
  position: relative;
  width: 300px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  overflow: visible;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}
.loading__bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(114, 47, 55, 0.8);
  -webkit-animation: loading 2.5s linear forwards;
          animation: loading 2.5s linear forwards;
  -webkit-box-shadow: 0 0 15px rgba(114, 47, 55, 0.5);
          box-shadow: 0 0 15px rgba(114, 47, 55, 0.5);
}
.loading__bar::after {
  content: "0%";
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: percentage 2.5s linear forwards;
          animation: percentage 2.5s linear forwards;
  white-space: nowrap;
}

@-webkit-keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes percentage {
  0% {
    content: "0%";
  }
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  6% {
    content: "6%";
  }
  7% {
    content: "7%";
  }
  8% {
    content: "8%";
  }
  9% {
    content: "9%";
  }
  10% {
    content: "10%";
  }
  11% {
    content: "11%";
  }
  12% {
    content: "12%";
  }
  13% {
    content: "13%";
  }
  14% {
    content: "14%";
  }
  15% {
    content: "15%";
  }
  16% {
    content: "16%";
  }
  17% {
    content: "17%";
  }
  18% {
    content: "18%";
  }
  19% {
    content: "19%";
  }
  20% {
    content: "20%";
  }
  21% {
    content: "21%";
  }
  22% {
    content: "22%";
  }
  23% {
    content: "23%";
  }
  24% {
    content: "24%";
  }
  25% {
    content: "25%";
  }
  26% {
    content: "26%";
  }
  27% {
    content: "27%";
  }
  28% {
    content: "28%";
  }
  29% {
    content: "29%";
  }
  30% {
    content: "30%";
  }
  31% {
    content: "31%";
  }
  32% {
    content: "32%";
  }
  33% {
    content: "33%";
  }
  34% {
    content: "34%";
  }
  35% {
    content: "35%";
  }
  36% {
    content: "36%";
  }
  37% {
    content: "37%";
  }
  38% {
    content: "38%";
  }
  39% {
    content: "39%";
  }
  40% {
    content: "40%";
  }
  41% {
    content: "41%";
  }
  42% {
    content: "42%";
  }
  43% {
    content: "43%";
  }
  44% {
    content: "44%";
  }
  45% {
    content: "45%";
  }
  46% {
    content: "46%";
  }
  47% {
    content: "47%";
  }
  48% {
    content: "48%";
  }
  49% {
    content: "49%";
  }
  50% {
    content: "50%";
  }
  51% {
    content: "51%";
  }
  52% {
    content: "52%";
  }
  53% {
    content: "53%";
  }
  54% {
    content: "54%";
  }
  55% {
    content: "55%";
  }
  56% {
    content: "56%";
  }
  57% {
    content: "57%";
  }
  58% {
    content: "58%";
  }
  59% {
    content: "59%";
  }
  60% {
    content: "60%";
  }
  61% {
    content: "61%";
  }
  62% {
    content: "62%";
  }
  63% {
    content: "63%";
  }
  64% {
    content: "64%";
  }
  65% {
    content: "65%";
  }
  66% {
    content: "66%";
  }
  67% {
    content: "67%";
  }
  68% {
    content: "68%";
  }
  69% {
    content: "69%";
  }
  70% {
    content: "70%";
  }
  71% {
    content: "71%";
  }
  72% {
    content: "72%";
  }
  73% {
    content: "73%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  76% {
    content: "76%";
  }
  77% {
    content: "77%";
  }
  78% {
    content: "78%";
  }
  79% {
    content: "79%";
  }
  80% {
    content: "80%";
  }
  81% {
    content: "81%";
  }
  82% {
    content: "82%";
  }
  83% {
    content: "83%";
  }
  84% {
    content: "84%";
  }
  85% {
    content: "85%";
  }
  86% {
    content: "86%";
  }
  87% {
    content: "87%";
  }
  88% {
    content: "88%";
  }
  89% {
    content: "89%";
  }
  90% {
    content: "90%";
  }
  91% {
    content: "91%";
  }
  92% {
    content: "92%";
  }
  93% {
    content: "93%";
  }
  94% {
    content: "94%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}